@using PagedList.Mvc;
@model PagedList.IPagedList<WebFashion.Models.Product>


@{
    ViewBag.Title = "Home Page";
}
<!--================ Hero banner start =================-->
<section class="hero-banner">
    <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
            <div class="col-5 d-none d-sm-block">
                <div class="hero-banner__img">
                    <img class="img-fluid" src="~/Content/Home/img/home/hero-banner.png" alt="">
                </div>
            </div>
            <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                <div class="hero-banner__content">
                    <h4>WHO WE ARE</h4>
                    <h1>Clothing Shop</h1>
                    <p>Đáp ứng mọi nhu cầu thời trang hàng ngày cho bạn</p>
                    <a href="/Home/Shop" class="button button-hero">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Hero banner start =================-->
