@model IEnumerable<WebFashion.Models.Category>

@foreach (var item in Model)
{
<li class="filter-list">
    <input class="pixel-radio" type="radio" id="men" name="brand">
    <a style="color: #777" href="@Url.Action("Homecate", "Home", new { category = item.Id })" 
       for="men">@item.NameCate</a>
</li>

}
