@model IEnumerable<WebFashion.Models.Category>

@foreach (var item in Model)
{
    <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <a  class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
            @Html.ActionLink(item.NameCate, "Homecate", "Home", new { category = item.IDCate.Trim() }, null)
        </a>
    </div>
}
