
@{
    ViewBag.Title = "CheckOut_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Đặt hàng thành công</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Chúng tôi sẽ xác nhận đơn hàng của bạn trong thời gian ngắn nhất!</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
